.place__title {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
}

@media screen and (max-width: 720px){
  .place__title {
    width: 288px;
    margin: 0 auto 32px auto;
  }
}

@media screen and (min-width: 720px) {/*общее*/
  .place__title {
    grid-area: title;
    margin: 0;
  } 
}

@media screen and (max-width: 952px) and (min-width: 720px) {
  .place__title {
    font-size: 46px;/*здесь должно быть 42, но тогда текст не переноситься на след. строку*/
    line-height: 46px;
  } 
}

@media screen and (min-width: 952px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  } 
}
