.page {
  background-color: #2A2C2F;
  width: 100%;
  padding-bottom: 24px;
}

@media screen and (max-width: 720px){
  .page {
    padding-top: 16px;
  }
}

@media screen and (min-width: 720px) {
  .page {
    padding-top: 28px;
  } 
}
