.place:nth-of-type(5) .place__paragraph_number_two {
  display: none;
}

@media screen and (max-width: 720px){
  .place__paragraph_number_two {
    margin: 24px auto 0 auto;
  }
}

@media screen and (min-width: 720px) {/*общее*/
  .place__paragraph_number_two {
    grid-area: paragraph_number_two;
    margin: 24px 0 0 0;
  } 
}
