.place_margin:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 720px){
  .place_margin {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 952px) and (min-width: 720px) {
  .place_margin {
    margin-bottom: 72px;
  } 
}

@media screen and (min-width: 952px) {
  .place_margin {
    margin-bottom: 80px;
  } 
}
