@media screen and (max-width: 720px){
  .header__lang-link_lang_ru {
    bottom: 4px;
    right: 40px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 720px) {
  .header__lang-link_lang_ru {
    bottom: 6px;
    right: 47px;
  } 
}

@media screen and (min-width: 1500px) {
  .header__lang-link_lang_ru {
    bottom: 8px;
    right: 60px;
  } 
}