.header__lang-link_lang_en {
  text-decoration: none;
}

@media screen and (max-width: 720px){
  .header__lang-link_lang_en {
    bottom: 4px;
    right: 0px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 720px) {
  .header__lang-link_lang_en {
    bottom: 6px;
    right: 0px;
  } 
}

@media screen and (min-width: 1500px) {
  .header__lang-link_lang_en {
    bottom: 8px;
    right: 0px;
  } 
}