.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;

}

@media screen and (max-width: 720px){
  .cover__background {
    height: 25vh;
    grid-template-rows: 1fr 134px 1fr;
  }
}

@media screen and (max-width: 952px) and (min-width: 720px) {
  .cover__background {
    height: 50vh;
    grid-template-rows: 1fr 250px 1fr;
  } 
}

@media screen and (max-width: 1184px) and (min-width: 952px) {
  .cover__background {
    height: 50vh;
    grid-template-rows: 1fr 250px 1fr;
  } 
}

@media screen and (max-width: 1500px) and (min-width: 1184px) {
  .cover__background {
    height: 50vh;
    grid-template-rows: 1fr 250px 1fr;
  } 
}

@media screen and (min-width: 1500px) {
  .cover__background {
    height: 70vh;
    grid-template-rows: 1fr 300px 1fr;
  } 
}