@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__list/footer__list.css);
@import url(./__ul/footer__ul.css);
@import url(./_margin/footer_margin.css);

.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 720px){
  .footer {
    width: 186px;
    flex-direction: column;

  }
}

@media screen and (max-width: 952px) and (min-width: 720px) {
  .footer {
    width: 720px;
    align-items: flex-end;

  } 
}

@media screen and (max-width: 1184px) and (min-width: 952px) {
  .footer {
    width: 928px;
    align-items: flex-end;

  } 
}

@media screen and (min-width: 1184px) {
  .footer {
    width: 1184px;
    align-items: flex-end;

  } 
}