.place__url-heading {
  color: #AAAAAA;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 720px){
  .place__url-heading {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .place__url-heading {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 12px;
  } 
}
